# Fichier .gitignore

# Environnement virtuel Python
venv/
.venv/
env/
.env

# Fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossiers Streamlit
.streamlit/

# Fichiers d'IDE
.vscode/
.idea/